{% extends "base_template.html" %}
{% block content %}
<h1>SRv6 Deterministic Demand Matrix Monitor</h1>
<p>Table will dynamically update based on server periodic telemetry message processing.</p>
<div class="alert alert-danger alert-dismissible collapse" role="alert" id="failed">
    <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
    <strong>Failed!</strong> The request to the server failed. Try again.
</div>
<div class="alert alert-success alert-dismissible collapse" role="alert" id="completed">
    <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
    <strong>Sucess</strong> The request to the server completed successfully.
</div>
<h5>Traffic Table</h5>
<p id="update-time">Last updated: Never</p>
<div class="table" id="tablediv">
    <table id="traffic-table">
        <thead>
            <tr>
                <th>Source Router</th>
                <th>Destination Router</th>
                <th>Locator</th>
                <th>FlexAlgo Name</th>
                <th>Rate (Mbps)</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dynamic content will be inserted here -->
        </tbody>
    </table>
</div>
<script type="text/javascript">
    client.connect({{port}});
</script>
{% end %}


